<form method="POST" action="/login">
    <input type="text" id="username" name="username" placeholder="Username"/>
    <input type="password" id="password" name="password" placeholder="Password"/>
    <input type="submit" value="Log In"/>
</form>