<!-- NAVIGATION -->
<div class="w3-bar  w3-black">
    <a href="/skate_spots" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white w3-left"><img src="/images/Primo-logo-white-simple.png" alt="LOGO" id="nav-logo"></a>
    <a href="/logout" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white w3-right">Log Out</a>
    
    <a href='/users/<%=current_user.id%>' class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white w3-right">Profile</a>
    <a href='/skate_spots/new' class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white w3-right">Add spot</a>
</div>



<div class="w3-card-4 w3-dark-grey w3-center" style="max-width: 500px; margin:auto; margin-top: 100px; background: white; padding: 10px;">
    <div class="w3-container w3-center">
        <h3>Change Your Password</h3>
        <h4><%= "Try Again" if current_user && current_user.errors.any? %></h4>
        <form method="POST" action="/users/<%=current_user.id%>">
            <label class="w3-left" for="name">Old Password:</label>
            <input type="password" class="w3-input w3-border" id="name" name="old_password" /><br>
            <label class="w3-left" for="name">New Password:</label>
            <input type="password" class="w3-input w3-border" id="name" name="password" /><br>
            <label class="w3-left" for="location">Confirm New Password:</label>
            <input  type="password" class="w3-left w3-input w3-border" id="location" name="password_confirmation" /><br>
            <input style="margin-top: 10px;" type="submit" value="Submit"/><br>
        </form>
    </div>
</div>