

<div class='background-image-4'>
<!-- NAVIGATION -->
<div class="topnav w3-bar" id="myTopnav">
 <a href="/skate_spots"  class="active brand-logo" ><img src="/images/Primo-logo-white-simple.png" alt="LOGO" id="nav-logo"></a>
 <span class="topnav-right">
   <a href='/skate_spots/new' class="nav-item">Add spot</a>
   <a href='/users/<%=current_user.id%>' class="nav-item">Profile</a>
   <a href="/logout" class="nav-item">Log Out</a>
 </span> 
  <a href="javascript:void(0);" class="icon" style="padding: 6px, 16px; " onclick="myFunction()">
    <i class="fa fa-bars" style="padding: 6px, 16px; "></i>
  </a>
</div>

<div style="min-height: 71vh">
<div class="w3-card-4 w3-dark-grey w3-center" style="max-width: 500px; margin:auto; margin-top: 100px; background: white; padding: 10px;">
    <div class="w3-container w3-center">
        <h3>Change Your Password</h3>
        <h4><%= "Try Again" if current_user && current_user.errors.any? %></h4>
        <form method="POST" action="/users/<%=current_user.id%>">
            <label class="w3-left" for="name">Old Password:</label>
            <input type="password" class="w3-input w3-border" id="name" name="old_password" /><br>
            <label class="w3-left" for="name">New Password:</label>
            <input type="password" class="w3-input w3-border" id="name" name="password" /><br>
            <label class="w3-left" for="location">Confirm New Password:</label>
            <input  type="password" class="w3-left w3-input w3-border" id="location" name="password_confirmation" /><br>
            <input style="margin-top: 10px;" type="submit" value="Submit"/><br>
        </form>
    </div>
</div>
</div>

  <div class="alt-footer " >
  <p class="">Made 💯 by <a href="https://harstondev.web.app/">Uriah Harston</a></p>
</div>
</div>