<div class="background-image-3">
  <!-- NAVIGATION -->
  <div class="w3-bar  w3-black" style="vertical-align: middle;">
    <a href="/" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white w3-left"><img src="images/Primo-logo-white-simple.png" alt="LOGO" id="nav-logo"></a>
    <a href="/login" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white w3-right">Log In</a>
  </div>
  <!-- SIGN UP FORM -->
  <div class='content-wrapper' >
    <div class="form-card w3-card-4 w3-dark-grey w3-animate-opacity" >
      <div class="w3-container w3-center">
        <h3>Join The Primo Society</h3>
        <form method="POST" action="/signup">
          <label class="w3-left">Username  <span class='error-message'><%= @user.errors.messages[:username][0] if @user.errors.messages[:username] %></span></label><br>
          <input type="text" class="w3-input w3-border" id="username" name="username" /><br>
          <label class="w3-left">Email <span class='error-message'><%= @user.errors.messages[:email][0] if @user.errors.messages[:email] %></span></label><br>
          <input type="email" class="w3-input w3-border" id="email" name="email" /><br>
          <label class="w3-left">Password <span class='error-message'><%= @user.errors.messages[:password][0] if @user.errors.messages[:password] %></span></label><br>
          <input type="password" class="w3-input w3-border" id="password" name="password" /><br>
          <label class="w3-left">Confirm Password <span class='error-message'><%= @user.errors.messages[:password_confirmation][0] if @user.errors.messages[:password_confirmation] %></span></label><br>
          <input type="password" class="w3-input w3-border" id="password" name="password_confirmation" /><br>
          <input type="submit" value="Sign Up"/>
        </form>
      </div>
    </div>
  </div>
  <!-- FOOTER -->
  <div class="footer">
    <p class='w3-center' style="color: white;">Made 💯 by <a href="https://harstondev.web.app/">Uriah Harston</a></p>
  </div> 

</div>

