<!-- NAVIGATION -->
<div class="topnav" id="myTopnav">
  <!-- <%# <a href="#home" class="active">Home</a> %> -->
 <a href="#"  class="active brand-logo" ><img src="/images/Primo-logo-white-simple.png" alt="LOGO" id="nav-logo"></a>
 <span class="topnav-right">
   <a href='/skate_spots/new' class="nav-item">Add spot</a>
   <a href='/users/<%=current_user.id%>' class="nav-item">Profile</a>
   <a href="/logout" class="nav-item">Log Out</a>
 </span> 
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div><br>

<!-- DELETE FORM -->
<div class="w3-container w3-center">
    <h1 class="w3-xxlarge"><strong>Are you sure you want to delete <%=@skate_spot.name%>?</strong></h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%"><br>
        <%if @skate_spot.user == current_user %>
            <button class="w3-button w3-xxlarge"><a href="/skate_spots/<%=@skate_spot.id%>">Maybe Not</a></button><br><br>
            <form method="post" action="/skate_spots/<%=@skate_spot.id%>/delete">
                <input id="hidden" type="hidden" name="_method" value="DELETE">
                <input class="w3-button w3-large" type="submit" value="Yes I Am Sure">
            </form>
       <%end%>
    </div>
</div>

<div class="w3-display-bottommiddle">
  <p >Made 💯<a href="https://harstondev.web.app/"> by Uriah Harston</a></p>
</div>