<!-- NAVIGATION -->
<div class="w3-bar  w3-black">
    <a href="/skate_spots" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white w3-left"><img src="/images/Primo-logo-white-simple.png" alt="LOGO"  id="nav-logo"></a>
    <a href="/logout" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white w3-right">Log Out</a>
    <a href='/skate_spots/new' class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white w3-right">Add spot</a>
    <a href='/users/<%=current_user.id%>' class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white w3-right">Profile</a>
</div><br>

<!-- DELETE FORM -->
<div class="w3-container w3-center">
    <h1 class="w3-xxlarge"><strong>Are you sure you want to delete <%=@skate_spot.name%>?</strong></h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%"><br>
        <%if @skate_spot.user == current_user %>
            <button class="w3-button w3-xxlarge"><a href="/skate_spots/<%=@skate_spot.id%>">Maybe Not</a></button><br><br>
            <form method="post" action="/skate_spots/<%=@skate_spot.id%>/delete">
                <input id="hidden" type="hidden" name="_method" value="DELETE">
                <input class="w3-button w3-large" type="submit" value="Yes I Am Sure">
            </form>
       <%end%>
    </div>
</div>