<div class="w3-bar  w3-black">


  <a href="/logout" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white w3-right">Log Out</a>

</div>

<div class="w3-card-4 w3-light-grey w3-center" style="max-width: 500px; margin:auto; margin-top: 35px; background: white; padding: 10px;">

<div class="w3-container w3-center">
  <h3>Add A New Skate Spot</h3>
  
<form method="POST" action="/skate_spots">
    <label class="w3-left" for="name">Name:</label>
    <input type="text" class="w3-input w3-border" id="name" name="name" /><br>
    
    <label class="w3-left" for="location">Location:</label>
    <input type="text" class="w3-input w3-border" id="location" name="location" /><br>
    
    <label class="w3-left" for="heat_index">Security Level:</label>
   
    <select id="heat_index" class="w3-input w3-border" name="heat_index">
       <option value="Chill">Chill</option>
        <option value="Moderate">Moderate</option>
        <option value="Hot">Hot</option>
        <option value="Red Hot">Red Hot</option>
    </select><br>
 
    <label class="w3-left" for="skill_level">Skill Level:</label>
    <select id="skill_level" class="w3-input w3-border" name="skill_level">
        <option value="Beginner">Beginnner</option>
        <option value="Amatuer">Amatuer</option>
        <option value="Professional">Professional</option>
        <option value="Any Skill Level">Any Skill Level</option>
    </select><br>

     <label class="w3-left" for="description">Why is this spot cool?:</label>
    <input type="text" class="w3-input w3-border" id="description" name="description" /><br>
    
    <input type="submit" value="submit"/>

</form>


</div>

</div>