<!-- NAVIGATION -->
<div class="topnav" id="myTopnav">
  <!-- <%# <a href="#home" class="active">Home</a> %> -->
 <a href="#"  class="active brand-logo" ><img src="/images/Primo-logo-white-simple.png" alt="LOGO" id="nav-logo"></a>
 <span class="topnav-right">
   <a href='/skate_spots/new' class="nav-item">Add spot</a>
   <a href='/users/<%=current_user.id%>' class="nav-item">Profile</a>
   <a href="/logout" class="nav-item">Log Out</a>
 </span> 
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<!-- NEW SKATE SPOT FORM -->
<div style='min-height: 80vh'>
  <div class="w3-card-4 w3-light-grey w3-center" style="max-width: 500px; margin:auto; margin-top: 35px; background: white; padding: 10px;">
      <div class="w3-container w3-center">
          <h3>Add A New Skate Spot</h3>
          <h4><%= "Fill out all fields" if @skate_spot && @skate_spot.errors.any? %></h4>
          <form method="POST" action="/skate_spots">
              <label class="w3-left" for="name">Name:</label>
              <input type="text" class="w3-input w3-border" id="name" name="name" /><br>
              <label class="w3-left" for="location">Address:</label>
              <input  type="text" class="w3-left w3-input w3-border" id="location" name="location" /><br>
              <label class="w3-left" for="heat_index">Security Level:</label><br>
              <select id="heat_index" class="w3-input w3-border" name="heat_index">
                  <option value="Chill">Chill</option>
                  <option value="Moderate">Moderate</option>
                  <option value="Hot">Hot</option>
                  <option value="Red Hot">Red Hot</option>
              </select><br>
              <label class="w3-left" for="skill_level">Skill Level:</label>
              <select id="skill_level" class="w3-input w3-border" name="skill_level">
                  <option value="Beginner">Beginnner</option>
                  <option value="Amateur">Amateur</option>
                  <option value="Professional">Professional</option>
                  <option value="Any Skill Level">Any Skill Level</option>
              </select><br>
              <label class="w3-left" for="description">Why is this spot cool?:</label>
              <input type="text" class="w3-input w3-border" id="description" name="description" /><br>
              <input type="submit" value="Submit"/>
          </form>
      </div>
  </div>
</div>

<div class="alt-footer" >
  <p class="">Made 💯 by <a href="https://harstondev.web.app/">Uriah Harston</a></p>
</div>